language: node_js
node_js: stable
dist: trusty
sudo: required
group: edge
env:
  global:
  - secure: YSXxHKxxx7g1rhmnecbVnjxtlViYIux7YKRD1O1j6A6Gu5F+2LdDAKPC6uaJ7noyJ7ybsS0FH3YKsftrkdVrv4SQskrwo9TXdgo0dVXo7Y/gTshfrHmmgeCnTYJR2x/2LB2P0x3OM967RfeJ4iy0buwSjF70aGU4XhU7h5QP1LjQj/md1/5gEoJbpiR8EOVk12JjSQZ9JvIrRdpbVbd0ZzCMYa6Ex2k/Hgd+ST5nSUzMa8OkNM1pe3GhgH9q6Q4tSiwOLXHv4ocmviDsRPdAX9/xsOHvU4QtePFr3kZhnLij5KCgAh49rzEdoPDXU6vB64gwphWy8g37ubGbOTw8qwqE6jGjh6OUyA5OsYYqhpdAbXDLcZ/aNtgOIBs4gYL2nwyYLGQYp93sn3jMSmouCGj+PG3wKQ71IqQWvGheYBz/+oBIBxdWI4CXs+3DOyR9xhAj/CGvoXEuYY/OzSnn9MfrYp5l3SZFn8bm25htdmikGVYiZDjsFhfT9m88Z3Z0Kg9bkGpPZH+N9GGmHP2CaWE8crpqXBb6CTPMG3BmSVxhtXoQWROq50fj86AZdejugEFmELAIHdgv8Stlcy13cWG7DN79Q65T1wXxiCjcY9gs42Rgz1DZ/YRgL3ueGn6Zvb33z8lPgZieSrdP0GWuQpQggbiy1c648I/tDDJTmBw=
  - secure: tRsLe8AJGdtQ0XRBQNjI4khSnmYNMOavcLE3OWPehOpEpZpNkLKeiMKS5fQBJhfJZ0QYfWRw8kjVzdqn1CRIn+nz8p2L4hxsru3g8PA7uQ7rAY9uVoUufM6vnC9aWKHUxp5uD1aZY5eB2R6XI9cLDJUhqvMPYEoIiNjLJdeh3fjEHO3eGN/di3vSJiwvvWFzKPcbcu30aXJ8AQ0UtrqCI9Xev1NymfInBDhjVL2MMtcG4DEAtMiuDAmwy7E1nqKM5jrAKKmOE/FB4DRSiMwp8PHk6kmTZaxjYutbZPlWDb3fdVwAWSvM9uAo/1X0z4b9UC8KOy0tOXnojIcrkMmyDjYuze9hOt2tNoJOEzPt9da4+d9r9T4oker4DZ9Xk/ZBY+H6BlYdXjiE5ZD2BWgiFR7s8EVmU8yyiPsI9fWisi2JfX8FH7WFbcVOLBcC4M0paA7KPXmfGa4DxB8TrxL02KtVWktm3e4iWfbYxrAIrlqvJWpZu7yqxBJf8yLhp/lw+FqHj+xwhvIOmvUSy3qy1m5C/ZaA0gEroCZDuEFtrc+nNN5XQ5iMO2c7Mrf2sH0bX8CbGux3KYMjFflXjERyvNYE/TqloaopYFM7UfsMLjtGw7COF0CDu3Z+tlQIRNix5u1cHwD6GfONNTy8NkcmGM0/zaJuveTyLJJUkgZf6L4=
addons:
  firefox: latest
  sauce_connect: true
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
cache:
  directories:
  - node_modules
  - bower_components
before_script:
- npm install -g polymer-cli bower
- polymer install --variants
- polymer lint
script:
- xvfb-run polymer test
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then polymer test -s 'default'; fi
